<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style/main.css'  %}">

    <title>{% block title %}Hello, world!{% endblock %}</title>
  </head>

  <body>
<div>
<ul class='slideshow'>
  <li>
    <span>Tilapia</span>
  </li>
  <li>
    <span>Nileperch</span>
  </li>
  <li>
    <span>Mukene</span>
  </li>
  <li>
    <span>dagaa</span>
  </li>
</ul>
{% load static %}


        <nav class="navbar"> 
  <img src="{% static 'images/logo_Nafirri.jpg'%}" alt="Nafirri" class="rounded-circle" height="100px"></a>
    
  <h5> From the lab to the world: Unlocking Uganda's fresh water biodiversity<br/>
   data for sustainable development.</h5>

   <img src="{% static 'images/naro_logo.jpg'%}" alt="NARO"></a>
  
        <button type="button" class="btn btn-success">Know us</button>
   <form class="Users" action="">
  <input type="text" placeholder="Login.." name="Login">
  <button type="submit"><i class="fa fa-user"></i></button>
</form>

   <form class="searching" action="">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

</nav>

<br/>
   <div class="btn-group" style="width:100%" align="center">
<div class="btn-group">
    <button type="button" data-toggle="dropdown">Topics</button>
    <ul class="dropdown-menu">
      <li><a href="#">Fish</a></li>
      <li><a href="#">Algea</a></li>
      <li><a href="#">Water Quality</a></li>
      <li><a href="#">Invertebrates</a></li>
      <li><a href="#">Macrophytes</a></li>
    </ul>
  </div>
  <div class="btn-group">
<button type="button" data-toggle="dropdown">Species</button>
 <ul class="dropdown-menu">
      <li><a href="#">Species Pages</a></li>
      <li><a href="#">Taxon Namelist</a></li>
      <li><a href="#">Species Traits</a></li>
      <li><a href="#">Species datatables</a></li>
    </ul>
  </div>
   <div class="btn-group">
 <button type="button" data-toggle="dropdown">Contribute</button>
 <ul class="dropdown-menu">
      <li><a href="#">Contribute to species</a></li>
      <li><a href="#">Contribute to occurence</a></li>
      <li><a href="#">Add a dataset</a></li>
      <li><a href="#">Add a document</a></li>
    </ul>
  </div>
     <div class="btn-group">
 <button type="button" data-toggle="dropdown">Tools</button>
 <ul class="dropdown-menu">
      <li><a href="#">Publishers</a></li>
      <li><a href="#">Users</a></li>
    </ul>
  </div>
   <div class="btn-group">
 <button type="button" data-toggle="dropdown">Networks</button>
 <ul class="dropdown-menu">
      <li><a href="#">NEMA</a></li>
      <li><a href="#">UWEC</a></li>
       <li><a href="#">NFA</a></li>
    </ul>
  </div>
 <button style="width:10%">Occurence</button>
  <button style="width:10%">Datasets</button>
 <button style="width:10%">Maps</button>
 <button style="width:10%">Observation</button>
  <button style="width:10%">Help</button>

  </div>
</div>










    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Topics
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Fish</a>
    <a class="dropdown-item" href="#">Algea</a>
    <a class="dropdown-item" href="#">Water quality</a>
    <a class="dropdown-item" href="#">Invertebrates</a>
    <a class="dropdown-item" href="#">Macrophytes</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Species
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Species pages</a>
    <a class="dropdown-item" href="#">Taxon Namelist</a>
    <a class="dropdown-item" href="#">Species traits</a>
    <a class="dropdown-item" href="#">Species data tables</a>
  </div>
</div>&nbsp;&nbsp;&nbsp;
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Contribute
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Contribute to species</a>
    <a class="dropdown-item" href="#">Contribute to occurence</a>
    <a class="dropdown-item" href="#">Add a dataset</a>
    <a class="dropdown-item" href="#">Add a document</a>
  </div>
</div>&nbsp;&nbsp;&nbsp;
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tools
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Publishers</a>
    <a class="dropdown-item" href="#">Users</a>
  </div>
</div>&nbsp;&nbsp;&nbsp;
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Networks
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">NEMA</a>
    <a class="dropdown-item" href="#">UWEC</a>
    <a class="dropdown-item" href="#">NFA</a>
  </div>
</div>&nbsp;&nbsp;&nbsp;


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary">Occurence</button>
      </li>
  
    </ul>&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary">Datasets</button>
      </li>
  
    </ul>&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary">Maps</button>
      </li>
  
    </ul>&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary">Observation</button>
      </li>
  
    </ul>&nbsp;&nbsp;&nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary">Help</button>
      </li>
  
    </ul>&nbsp;&nbsp;&nbsp;
  
  </div>
</nav>-->
<br/>


  <div class="container">
         {% block content %}

         {% endblock %}

     </div>

<br/><br/>
     <center><small>Copyright &copy; Fresh Water Biodiversity Data Portal</small></center>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>